# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }}) (valgrind: ${{ matrix.config.valgrind }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release', valgrind: false}
          - {os: macOS-latest, r: 'release', valgrind: false}
          - {os: ubuntu-latest, r: 'release', valgrind: false}
          - {os: ubuntu-latest, r: 'devel', valgrind: false}
          - {os: ubuntu-latest, r: 'devel', valgrind: true}
          - {os: macos-26, r: 'release', valgrind: false}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
          needs: check

      - name: Install valgrind
        if: ${{ matrix.config.valgrind }}
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends valgrind

      - uses: r-lib/actions/check-r-package@v2
        if: ${{ matrix.config.valgrind }}
        with:
          args: 'c("--as-cran", "--use-valgrind")'

      - uses: r-lib/actions/check-r-package@v2
        if: ${{ !matrix.config.valgrind }}


      


